version: '3'

services:
  gotify:
    image: gotify/server:2.4
    container_name: gotify
    ports:
      - {{ gotify_port }}:80
    environment:
      TZ: {{ timezone }}
    volumes:
      - {{ appdata_dir }}/gotify:/app/data

# vim: ft=yaml
