version: '3.5'

services:
  transmission-openvpn:
    image: haugene/transmission-openvpn:5.2
    container_name: transmission-openvpn
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
    environment:
      - PUID={{ media_uid }}
      - PGID={{ media_gid }}
      - OPENVPN_PROVIDER=MULLVAD
      - OPENVPN_CONFIG=ca_tor
      - OPENVPN_USERNAME={{ vault_mullvad_account }}
      - OPENVPN_PASSWORD=m
      - OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60
      - TRANSMISSION_DOWNLOAD_DIR=/data/torrents/completed
      - TRANSMISSION_INCOMPLETE_DIR=/data/torrents/incomplete
      - TRANSMISSION_INCOMPLETE_DIR_ENABLED=true
      - TRANSMISSION_WATCH_DIR=/data/torrents/watch
      - TRANSMISSION_WATCH_DIR_ENABLED=true
      - TRANSMISSION_PEER_PORT={{ mullvad_port_forward }}
      - TRANSMISSION_WEB_UI=combustion
      - LOCAL_NETWORK={{ main_cidr }}
    volumes:
      - "{{ media_appdata_dir }}/transmission-openvpn:/config"
      - "{{ media_storage_dir }}:/data"
      - /etc/localtime:/etc/localtime:ro
    ports:
      - {{ transmission_port }}:{{ transmission_port }}
    logging:
      driver: json-file
      options:
        max-size: 10m
    restart: unless-stopped

  nzbget:
    image: linuxserver/nzbget:21.1.20230119
    container_name: nzbget
    environment:
      - PUID={{ media_uid }}
      - PGID={{ media_gid }}
      - TZ={{ timezone }}
    volumes:
      - "{{ media_appdata_dir }}/nzbget:/config"
      - "{{ media_storage_dir }}/usenet:/data/usenet"
    ports:
      - {{ nzbget_port }}:{{ nzbget_port }}
    restart: unless-stopped

  jellyfin:
    image: linuxserver/jellyfin:10.8.12
    container_name: jellyfin
    environment:
      - PUID={{ media_uid }}
      - PGID={{ media_gid }}
      - TZ={{ timezone }}
    volumes:
      - "{{ media_appdata_dir }}/jellyfin:/config"
      - "{{ media_storage_dir }}:/data"
      - "{{ media_storage_dir }}/youtube:/youtube:ro" # mounted separately for tubearchivist
    ports:
      - {{ jellyfin_port }}:{{ jellyfin_port }}
    restart: unless-stopped

  jellyseerr:
    image: fallenbagel/jellyseerr:1.7.0
    container_name: jellyseerr
    environment:
      - TZ={{ timezone }}
      - LOG_LEVEL=debug
    volumes:
      - "{{ media_appdata_dir }}/jellyseer:/app/config"
    ports:
      - {{ jellyseerr_port }}:{{ jellyseerr_port }}
    restart: unless-stopped

  prowlarr:
    image: linuxserver/prowlarr:1.9.4
    container_name: prowlarr
    environment:
      - PUID={{ media_uid }}
      - PGID={{ media_gid }}
      - TZ={{ timezone }}
    volumes:
      - "{{ media_appdata_dir }}/prowlarr:/config"
    ports:
      - {{ prowlarr_port }}:{{ prowlarr_port }}
    restart: unless-stopped

  radarr:
    image: linuxserver/radarr:5.1.3
    container_name: radarr
    environment:
      - PUID={{ media_uid }}
      - PGID={{ media_gid }}
      - TZ={{ timezone }}
    volumes:
      - "{{ media_appdata_dir }}/radarr:/config"
      - "{{ media_storage_dir }}:/data"
    ports:
      - {{ radarr_port }}:{{ radarr_port }}
    restart: unless-stopped

  sonarr:
    image: linuxserver/sonarr:3.0.10
    container_name: sonarr
    environment:
      - PUID={{ media_uid }}
      - PGID={{ media_gid }}
      - TZ={{ timezone }}
    volumes:
      - "{{ media_appdata_dir }}/sonarr:/config"
      - "{{ media_storage_dir }}:/data"
    ports:
      - {{ sonarr_port }}:{{ sonarr_port }}
    restart: unless-stopped

  lidarr:
    image: linuxserver/lidarr:1.4.5
    container_name: lidarr
    environment:
      - PUID={{ media_uid }}
      - PGID={{ media_gid }}
      - TZ={{ timezone }}
    volumes:
      - "{{ media_appdata_dir }}/lidarr:/config"
      - "{{ media_storage_dir }}:/data"
    ports:
      - {{ lidarr_port }}:{{ lidarr_port }}
    restart: unless-stopped

  readarr-ebook:
    image: linuxserver/readarr:0.3.10-develop
    container_name: readarr-ebook
    environment:
      - PUID={{ media_uid }}
      - PGID={{ media_gid }}
      - TZ={{ timezone }}
    volumes:
      - "{{ media_appdata_dir }}/readarr-ebook:/config"
      - "{{ media_storage_dir }}:/data"
    ports:
      - {{ readarr_ebook_port }}:{{ readarr_port }}
    restart: unless-stopped

  readarr-audiobook:
    image: linuxserver/readarr:0.3.10-develop
    container_name: readarr-audiobook
    environment:
      - PUID={{ media_uid }}
      - PGID={{ media_gid }}
      - TZ={{ timezone }}
    volumes:
      - "{{ media_appdata_dir }}/readarr-audiobook:/config"
      - "{{ media_storage_dir }}:/data"
    ports:
      - {{ readarr_audiobook_port }}:{{ readarr_port }}
    restart: unless-stopped

  bazarr:
    image: linuxserver/bazarr:1.3.1
    container_name: bazarr
    environment:
      - PUID={{ media_uid }}
      - PGID={{ media_gid }}
      - TZ={{ timezone }}
    volumes:
      - "{{ media_appdata_dir }}/bazarr:/config"
      - "{{ media_storage_dir }}:/data"
    ports:
      - {{ bazarr_port }}:{{ bazarr_port }}
    restart: unless-stopped

  unpackerr:
    image: golift/unpackerr:0.12
    container_name: unpackerr
    user: {{ media_uid }}:{{ media_gid }}
    environment:
      - TZ={{ timezone }}
      - UN_FILE_MODE=0664
      - UN_DIR_MODE=0775
      - UN_SONARR_0_URL={{ sonarr_url }}
      - UN_SONARR_0_API_KEY={{ vault_sonarr_api_key }}
      - UN_SONARR_0_PATHS_0=/data/torrents/completed/tv
      - UN_SONARR_0_PATHS_1=/data/usenet/completed/tv
      - UN_RADARR_0_URL={{ radarr_url }}
      - UN_RADARR_0_API_KEY={{ vault_radarr_api_key }}
      - UN_RADARR_0_PATHS_0=/data/torrents/completed/movies
      - UN_RADARR_0_PATHS_1=/data/usenet/completed/movies
      - UN_LIDARR_0_URL={{ lidarr_url }}
      - UN_LIDARR_0_API_KEY={{ vault_lidarr_api_key }}
      - UN_LIDARR_0_PATHS_0=/data/torrents/completed/music
      - UN_LIDARR_0_PATHS_1=/data/usenet/completed/music
      - UN_READARR_0_URL={{ readarr_ebook_url }}
      - UN_READARR_0_API_KEY={{ vault_readarr_ebook_api_key }}
      - UN_READARR_0_PATHS_0=/data/torrents/completed/ebooks
      - UN_READARR_0_PATHS_1=/data/usenet/completed/ebooks
      - UN_READARR_1_URL={{ readarr_audiobook_url }}
      - UN_READARR_1_API_KEY={{ vault_readarr_audiobook_api_key }}
      - UN_READARR_1_PATHS_0=/data/torrents/completed/audiobooks
      - UN_READARR_1_PATHS_1=/data/usenet/completed/audiobooks

    volumes:
      - "{{ media_storage_dir }}:/data"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true

  tdarr:
    container_name: tdarr
    image: haveagitgat/tdarr:2.15.01
    restart: unless-stopped
    network_mode: bridge
    environment:
      - PUID={{ media_uid }}
      - PGID={{ media_gid }}
      - TZ={{ timezone }}
      - UMASK_SET=002
      - serverIP=0.0.0.0
      - serverPort={{tdarr_server_port}}
      - webUIPort={{tdarr_webui_port}}
      - internalNode=true
      - nodeID=Titanium
    volumes:
      - "{{ media_appdata_dir }}/server:/app/server"
      - "{{ media_appdata_dir }}/configs:/app/configs"
      - "{{ media_appdata_dir }}/logs:/app/logs"
      - "{{ media_appdata_dir }}/transcode_cache:/temp"
      - "{{ media_storage_dir }}:/media"
    ports:
      - {{ tdarr_webui_port }}:{{ tdarr_webui_port }}
      - {{ tdarr_server_port }}:{{ tdarr_server_port }}
      - {{ tdarr_internal_node_port }}:{{ tdarr_internal_node_port }}

  tubearchivist:
    container_name: tubearchivist
    restart: unless-stopped
    image: bbilly1/tubearchivist:v0.4.5
    ports:
      - {{ tubearchivist_port }}:{{ tubearchivist_port }}
    volumes:
      - {{ media_storage_dir }}/youtube:/youtube
      - type: tmpfs
        target: /cache
    environment:
      - ES_URL=http://archivist-es:{{ tubearchivist_elasticsearch_port }}
      - REDIS_HOST=archivist-redis
      - HOST_UID=2000
      - HOST_GID=2000
      - TA_HOST=tubearchivist.local.vandermey.ca
      - TA_USERNAME=tubearchivist
      - TA_PASSWORD={{ vault_tubearchivist_password }}
      - ELASTIC_PASSWORD={{ vault_tubearchivist_elasticsearch_password }}
      - TZ={{ timezone }}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 2m
      timeout: 10s
      retries: 3
      start_period: 30s
    depends_on:
      - archivist-es
      - archivist-redis

  archivist-redis:
    image: redis/redis-stack-server:7.2.0-v8
    container_name: archivist-redis
    restart: unless-stopped
    expose:
      - "{{ tubearchivist_redis_port }}"
    volumes:
      - {{ appdata_dir }}/tubearchivist/redis:/data
    depends_on:
      - archivist-es

  archivist-es:
    image: bbilly1/tubearchivist-es:8.12.0
    container_name: archivist-es
    restart: unless-stopped
    environment:
      - "ELASTIC_PASSWORD={{ vault_tubearchivist_elasticsearch_password }}"
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - "xpack.security.enabled=true"
      - "discovery.type=single-node"
      - "path.repo=/usr/share/elasticsearch/data/snapshot"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - {{ appdata_dir }}/tubearchivist/elasticsearch:/usr/share/elasticsearch/data
    expose:
      - "{{ tubearchivist_elasticsearch_port }}"

  calibre:
    image: linuxserver/calibre:6.29.0
    container_name: calibre
    environment:
      - PUID={{ media_uid }}
      - PGID={{ media_gid }}
      - TZ={{ timezone }}
    volumes:
      - "{{ media_appdata_dir }}/calibre/config:/config"
      - "{{ media_appdata_dir }}/calibre/uploads:/uploads"
      - "{{ media_appdata_dir }}/calibre/plugins:/plugins"
      - "{{ media_storage_dir }}/ebooks:/library"
    ports:
      - "{{ calibre_port }}:{{ calibre_port }}"
      - "{{ calibre_webserver_port }}:{{ calibre_webserver_port }}"
    security_opt:
      - seccomp:unconfined
    restart: unless-stopped

  calibre-web:
    image: linuxserver/calibre-web:0.6.21
    container_name: calibre-web
    environment:
      - PUID={{ media_uid }}
      - PGID={{ media_gid }}
      - TZ={{ timezone }}
    volumes:
      - "{{ media_appdata_dir }}/calibre-web:/config"
      - "{{ media_storage_dir }}/ebooks:/library"
    ports:
      - "{{ calibre_web_port }}:{{ calibre_web_port }}"
    restart: unless-stopped
    depends_on:
      - calibre

  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:2.8.0
    container_name: audiobookshelf
    restart: unless-stopped
    ports:
      - {{ audiobookshelf_port }}:80
    volumes:
      - {{ media_storage_dir }}:/data
      - {{ media_appdata_dir }}/audiobookshelf/config:/config
      - {{ media_appdata_dir }}/audiobookshelf/metadata:/metadata

# vim: ft=yaml
