version: '3'

services:
  nextcloud_db:
    image: mariadb
    container_name: nextcloud_db
    restart: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    networks:
      - cloudnet
    volumes:
      - {{ appdata_dir }}/nextcloud/db:/var/lib/mysql
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=true
      - MYSQL_PASSWORD={{ vault_nextcloud_db_password }}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud

  nextcloud_redis:
    image: redis:alpine
    container_name: nextcloud_redis
    restart: always
    networks:
      - cloudnet

  nextcloud_app:
    image: nextcloud:27-apache
    container_name: nextcloud_app
    restart: always
    networks:
      - cloudnet
    ports:
     - {{ nextcloud_port }}:80
    volumes:
      - {{ appdata_dir }}/nextcloud/docroot:/var/www/html
    environment:
      - NEXTCLOUD_ADMIN_USER=admin
      - NEXTCLOUD_ADMIN_PASSWORD={{ vault_nextcloud_admin_password }}
      - NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.{{ local_domain }} 192.168.128.10
      - TRUSTED_PROXIES=192.168.129.1
      - APACHE_DISABLE_REWRITE_IP=1
      - NEXTCLOUD_DATA_DIR=/var/www/html/data
      - MYSQL_PASSWORD={{ vault_nextcloud_db_password }}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=nextcloud_db
      - SMTP_HOST=smtp.gmail.com
      - SMTP_SECURE=tls
      - SMTP_PORT=587
      - SMTP_NAME={{ vault_nextcloud_smtp_name }}
      - SMTP_PASSWORD={{ vault_nextcloud_smtp_password }}
      - MAIL_FROM_ADDRESS=nextcloud@{{ domain }}
    depends_on:
      - nextcloud_db
      - nextcloud_redis

  nextcloud_cron:
    image: nextcloud:27-apache
    container_name: nextcloud_cron
    restart: unless-stopped
    networks:
      - cloudnet
    volumes:
      - {{ appdata_dir }}/nextcloud/docroot:/var/www/html
    entrypoint:
      /cron.sh
    depends_on:
      - nextcloud_app

networks:
  cloudnet:
    name: cloudnet
    driver: bridge

# vim: ft=yaml
