#!/bin/sh

/sbin/sysupgrade -b - | ssh -i "{{ rhodium_ssh_key }}" "{{ rhodium_backup_user }}@{{ rhodium_backup_dest_server }}" "cat > {{ rhodium_backup_dest_dir }}/backup_$(date +%Y%m%d-%H%M).tar.gz"

if [[ $? -eq 0 ]]; then
  status="up"
  msg="OK"
else
  status="down"
  msg="FAILED"
fi

curl "{{ rhodium_backup_dest_server }}:{{ uptime_kuma_port }}/api/push/{{ rhodium_backup_uptime_push_id }}?status=$status&msg=$msg"
