version: '3'

services:
  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    restart: unless-stopped
    volumes: 
      - {{ appdata_dir }}/uptime-kuma:/app/data
    ports:
      - 3001:3001

# vim: ft=yaml
