version: '3'

services:
  freshrss:
    image: freshrss/freshrss:1.22.1
    container_name: freshrss
    restart: unless-stopped
    logging:
      options:
        max-size: 10m
    volumes:
      - {{ appdata_dir }}/freshrss/data:/var/www/FreshRSS/data
      - {{ appdata_dir }}/freshrss/extensions:/var/www/FreshRSS/extensions
    ports:
      - {{ freshrss_port }}:80
    environment:
      TZ: {{ timezone }}
      CRON_MIN: '11,41'
      FRESHRSS_ENV: production
      ADMIN_EMAIL: {{ vault_freshrss_admin_email }}
      ADMIN_PASSWORD: {{ vault_freshrss_admin_password }}
      ADMIN_API_PASSWORD: {{ vault_freshrss_admin_api_password }}
      PUBLISHED_PORT: {{ freshrss_port }}

  wallabag:
    image: wallabag/wallabag:2.6.8
    environment:
      - MYSQL_ROOT_PASSWORD={{ vault_wallabag_mysql_root_password }}
      - SYMFONY__ENV__DATABASE_DRIVER=pdo_mysql
      - SYMFONY__ENV__DATABASE_HOST=db
      - SYMFONY__ENV__DATABASE_PORT=3306
      - SYMFONY__ENV__DATABASE_NAME=wallabag
      - SYMFONY__ENV__DATABASE_USER=wallabag
      - SYMFONY__ENV__DATABASE_PASSWORD={{ vault_wallabag_db_password }}
      - SYMFONY__ENV__DATABASE_CHARSET=utf8mb4
      - SYMFONY__ENV__DATABASE_TABLE_PREFIX="wallabag_"
      - SYMFONY__ENV__FROM_EMAIL=wallabag@{{ domain }}
      - SYMFONY__ENV__DOMAIN_NAME={{ wallabag_url }}
      - SYMFONY__ENV__SERVER_NAME="Your wallabag instance"
    ports:
      - {{ wallabag_port }}:80
    volumes:
      - {{ appdata_dir }}/wallabag/images:/var/www/wallabag/web/assets/images
    healthcheck:
      test: ["CMD", "wget" ,"--no-verbose", "--tries=1", "--spider", "http://localhost"]
      interval: 1m
      timeout: 3s
    depends_on:
      - db
      - redis

  db:
    image: mariadb
    environment:
      - MYSQL_ROOT_PASSWORD={{ vault_wallabag_mysql_root_password }}
    volumes:
      - {{ appdata_dir }}/wallabag/data:/var/lib/mysql
    healthcheck:
      test: ['CMD', '/usr/local/bin/healthcheck.sh', '--innodb_initialized']
      start_period: 5s
      timeout: 5s
      interval: 5s
      retries: 5

  redis:
    image: redis:alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 20s
      timeout: 3s

# vim: ft=yaml
