{
  email {{ email_address }}
}

(nextcloud_headers) {
  header {
    -Server
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Xss-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Content-Security-Policy "upgrade-insecure-requests"
    Referrer-Policy "strict-origin-when-cross-origin"
    Cache-Control "public, max-age=15, must-revalidate"
    Feature-Policy "accelerometer 'none'; ambient-light-sensor 'none'; autoplay 'self'; camera 'none'; encrypted-media 'none'; fullscreen 'self'; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; midi 'none'; payment 'none'; picture-in-picture *; speaker 'none'; usb 'none'; vr 'none'"
  }
}

*.{{ local_domain }} {{ local_domain }} {
  tls {
    dns cloudflare {{ cloudflare_dns_api_token }}
  }

  @proxmox host {{ proxmox_fqdn }}
  handle @proxmox {
    reverse_proxy https://{{ titanium_fqdn }}:{{ proxmox_port }} {
      transport http {
        tls
        tls_insecure_skip_verify
      }
    }
  }

{% for site in caddyfile_sites %}
  @{{ site.name }} host {{ site.fqdn | default(site.name + "." + local_domain) }}
  handle @{{ site.name }} {
    reverse_proxy {{ site.url | default(titanium_url) }}:{{ site.port }}
  }

{% endfor %}
  @nextcloud host {{ nextcloud_fqdn }}
  handle @nextcloud {
    import nextcloud_headers

    reverse_proxy {{ titanium_url }}:{{ nextcloud_port }}

    file_server

    redir /.well-known/carddav /remote.php/dav 301
    redir /.well-known/caldav /remote.php/dav 301

    @forbidden {
      path    /.htaccess
      path    /data/*
      path    /config/*
      path    /db_structure
      path    /.xml
      path    /README
      path    /3rdparty/*
      path    /lib/*
      path    /templates/*
      path    /occ
      path    /console.php
    }
    respond @forbidden 404
  }
}
