version: "3.3"

services:
  homepage:
    image: ghcr.io/gethomepage/homepage:v0.8.0
    container_name: homepage
    environment:
      - "TZ={{ timezone }}"
    ports:
      - "{{ homepage_port }}:{{ homepage_port }}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /mnt/tank/appdata/homepage:/app/config
      - /mnt/tank:/mnt/tank:ro
      - /mnt/storage:/mnt/storage:ro
    restart: unless-stopped

  dockerproxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:latest
    container_name: dockerproxy
    environment:
      - CONTAINERS=1
      - POST=0
    ports:
      - 2375:2375
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped

# vim: ft=yaml
