- Media:
    - Jellyfin:
        icon: jellyfin.png
        href: "{{ jellyfin_url }}"
        server: titanium
        container: jellyfin
        widget:
          type: jellyfin
          url: "{{ jellyfin_url }}"
          key: "{{ vault_jellyfin_api_key }}"
    - Jellyseerr:
        icon: jellyseerr.png
        href: "{{ jellyseerr_url }}"
        server: titanium
        container: jellyseerr
        widget:
          type: jellyseerr
          url: "{{ jellyseerr_url }}"
          key: "{{ vault_jellyseerr_api_key }}"
    - Calibre-Web:
        icon: calibre.png
        href: "{{ calibre_web_url }}"
        server: titanium
        container: calibre-web
        widget:
          type: calibreweb
          url: "{{ calibre_web_url }}"
          username: "{{ vault_calibre_web_username }}"
          password: "{{ vault_calibre_web_password }}"
    - Audiobookshelf:
        icon: audiobookshelf.png
        href: "{{ audiobookshelf_url }}"
        server: titanium
        container: audiobookshelf
        widget:
          type: audiobookshelf
          url: "{{ audiobookshelf_url }}"
          key: "{{ vault_audiobookshelf_api_key }}"
    - FreshRSS:
        icon: freshrss.png
        href: "{{ freshrss_url }}"
        server: titanium
        container: freshrss
        widget:
          type: freshrss
          url: "{{ freshrss_url }}"
          username: "{{ vault_freshrss_username }}"
          password: "{{ vault_freshrss_password }}"

- File Management:
    - Transmission:
        icon: transmission.png
        href: "{{ transmission_url }}"
        server: titanium
        container: transmission-openvpn
        widget:
          type: transmission
          url: "{{ transmission_url }}"
    - NZBGet:
        icon: nzbget.png
        href: "{{ nzbget_url }}"
        server: titanium
        container: nzbget
        widget:
          type: nzbget
          url: "{{ nzbget_url }}"
          username: "{{ vault_nzbget_username }}"
          password: "{{ vault_nzbget_password }}"
    - Prowlarr:
        icon: prowlarr.png
        href: "{{ prowlarr_url }}"
        server: titanium
        container: prowlarr
        widget:
          type: prowlarr
          url: "{{ prowlarr_url }}"
          key: "{{ vault_prowlarr_api_key }}"
    - Tdarr:
        icon: tdarr.png
        href: "{{ tdarr_url }}"
        server: titanium
        container: tdarr
        widget:
          type: tdarr
          url: "{{ tdarr_url }}"
    - Bazarr:
        icon: bazarr.png
        href: "{{ bazarr_url }}"
        server: titanium
        container: bazarr
        widget:
          type: bazarr
          url: "{{ bazarr_url }}"
          key: "{{ vault_bazarr_api_key }}"

- Calendar:
    - Calendar:
        widget:
          type: calendar
          firstDayInWeek: monday
          view: monthly
          maxEvents: 10
          showTime: true
          timezone: "{{ timezone }}"
          integrations:
            - type: radarr
              service_group: Media Management
              service_name: Radarr
              color: yellow
            - type: sonarr
              service_group: Media Management
              service_name: Sonarr
              color: blue

- Media Management:
    - Radarr:
        icon: radarr.png
        href: "{{ radarr_url }}"
        server: titanium
        container: radarr
        widget:
          type: radarr
          url: "{{ radarr_url }}"
          key: "{{ vault_radarr_api_key }}"
    - Sonarr:
        icon: sonarr.png
        href: "{{ sonarr_url }}"
        server: titanium
        container: sonarr
        widget:
          type: sonarr
          url: "{{ sonarr_url }}"
          key: "{{ vault_sonarr_api_key }}"
    - Lidarr:
        icon: lidarr.png
        href: "{{ lidarr_url }}"
        server: titanium
        container: lidarr
        widget:
          type: lidarr
          url: "{{ lidarr_url }}"
          key: "{{ vault_lidarr_api_key }}"
    - Readarr - eBooks:
        icon: readarr.png
        href: "{{ readarr_ebook_url }}"
        server: titanium
        container: readarr-ebook
        widget:
          type: readarr
          url: "{{ readarr_ebook_url }}"
          key: "{{ vault_readarr_ebook_api_key }}"
    - Readarr - Audiobooks:
        icon: readarr.png
        href: "{{ readarr_audiobook_url }}"
        server: titanium
        container: readarr-audiobook
        widget:
          type: readarr
          url: "{{ readarr_audiobook_url }}"
          key: "{{ vault_readarr_audiobook_api_key }}"

- Network Management:
    - Proxmox:
        icon: proxmox.png
        href: "{{ proxmox_url }}"
        widget:
          type: proxmox
          url: "{{ proxmox_url }}"
          username: "{{ vault_proxmox_homepage_api_client_id }}"
          password: "{{ vault_proxmox_homepage_api_client_token }}"
    - Pi-Hole:
        icon: pi-hole.png
        href: "{{ pihole_url }}/admin"
        widget:
          type: pihole
          url: "{{ pihole_url }}"
          key: "{{ vault_pihole_api_token }}"
    - Gotify:
        icon: gotify.png
        href: "{{ gotify_url }}"
        widget:
          type: gotify
          url: "{{ gotify_url }}"
          key: "{{ vault_gotify_homepage_client_token }}"

# vim: ft=yaml
