- resources:
    label: System
    cpu: true
    memory: true

- resources:
    label: Storage
    expanded: true
    disk:
      - /mnt/tank/appdata
      - /mnt/tank/fuse
      - /mnt/storage

- openweathermap:
    latitude: "{{ latitude }}"
    longitude: "{{ longitude }}"
    units: metric
    apiKey: "{{ openweathermap_api_key }}"
    cache: 5

- search:
    provider: duckduckgo
    target: _blank

# vim: ft=yaml
